body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size:2.5rem;
    text-shadow: 0 2px 2px #816fca;
}

h2{
    font-size: 2.25rem ;/* 36/16*/
    margin:0.167em 0; /* 6/36(font-size=36px)*/
}

p{
    font-size:1.125rem; /*18px*/
    line-height:1.4 ;
}
.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #614848;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.beta-text, .subheading{
    text-transform: uppercase;
}

/**----Flexbox containers-----*/
.intro,.main-content{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}
/*-----INTRO------*/
.intro { 
    color: #fff;
    background-color: #9480e4;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    
}

/*--------Main Content------*/
.main-content{
    align-items:center;
    padding-top: 2.5em ; /* 40/16 for top and 32/16 for left and right*/

}
.img-main{
    width:120px;
    border-radius: 50%;
}

/*-------Media Querries------*/
@media (min-width:576px){
    body{
        display:flex;
    }
    .intro,.main-content{
        width:50%;
    }

    .intro{
        min-height:100vh;
    }
    .main-content{
        justify-content: center;
        padding-top: 0;
    }
    h1{
        font-size: 3.25rem;/*---52 px--*/
    }
    h2{
        font-size: 2.625rem;/*---42px--*/
    }
    .beta-text{
        font-size: 1.25rem;/*---20px---*/

    }

}