*,*::after,*::before{
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size:2.5rem;
    text-shadow: 0 2px 2px #816fca;
}

h2{
    font-size: 2.25rem ;/* 36/16*/
    margin:0.167em 0; /* 6/36(font-size=36px)*/
}

p{
    font-size:1.125rem; /*18px*/
    line-height:1.4 ;
}
.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #614848;
    font-weight: 900;
    margin-bottom: 0.5em;
}

.beta-text, .subheading{
    text-transform: uppercase;
}

/**----Flexbox containers-----*/
.intro,.main-content{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-right: 2em;
}
/*-----INTRO------*/
.intro { 
    color: #fff;
    background-color: #9480e4;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    background: #9480e4 url("/ProductSplashPage/Images/intro-bg.png");
    background-size: cover;
    /*---Also added a background color if the image doesnt load---*/
    
}

/*--------Main Content------*/
.main-content{
    align-items:center;
    padding-top: 2.5em ; /* 40/16 for top and 32/16 for left and right*/

}

.main-content p, form{
    max-width:450px;
}

.img-main{
    width:120px;
    border-radius: 50%;
}

button,input{
    font-family: inherit;
    width:100%;

}

input{
    margin-bottom: 0.75em; /*12px*/
    padding:0.5em;
    border: 2px solid #d1d5db;
    border-radius: 5px; 
}

input:focus{
    outline: none;
    border-color: #8a71ec;
    background-color: #e6e8ec;
}

.btn{
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    padding:1em 0;
    margin-top: 1em;
    border:none;
    background-color: #8a71ec;
    cursor:pointer;
}

.btn:hover {
    background-color: #b7a7f6;
}
/*-------Media Querries------*/
@media (min-width:576px){
    body{
        display:flex;
    }
    .intro,.main-content{
        width:50%;
    }

    .intro{
        min-height:100vh;
    }
    .main-content{
        justify-content: center;
        padding-top: 0;
    }
    h1{
        font-size: 3.25rem;/*---52 px--*/
    }
    h2{
        font-size: 2.625rem;/*---42px--*/
    }
    .beta-text{
        font-size: 1.25rem;/*---20px---*/

    }

}