body{
    text-align: center;
    background-image: url("/spacepage/spaceimage.gif");
    background-size:690px;
    color:white;
    font-family: 'Orbitron', sans-serif;
}

.btn{
    font-family: 'Orbitron', sans-serif;
    padding: 6px 12px;
    background:white;
    border:none;

}
@font-face {
    font-family: corleone;
    src: url("/spacepage/Corleone.TTF");
}

.underline{
    border-bottom: 5px solid white;
}
#main-logo{
    width:100px;
}