body{
    
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin:0;
}


/* typography */
h1{
    font-size: 1.75rem;/* 28/16=1.75*/
    color:whitesmoke;
    

}

h1,h3{
    margin:0;
}

h3{
    font-size: 1.25rem;
    color:#d0aaff;
    
}

h2{
    margin-top:0;
    font-size: 1.375rem; /* 22/16=1.375*/
}
p{
    line-height:1.5;
}

/* Layout */

header, section, footer{
    padding: 1.25em 0; /* 20/16=1.25*/ 
}

header,.section-two{
    background-color:#265C9F;
    
}



.section-two{
    
    color: whitesmoke;
}

.main-image{
    width:100%;
    display: block;
    max-width: 600px;
    margin: 0 auto 1.875em; /* 30/16=1.875em*/
}

.feature-image{
    width:48.5%;
    border-radius: 4.6px;
    margin-bottom: 1em;
}

.section-two-image-container{
    display:flex;
    flex-direction: column;
    
}
.container{
    width:90%;
    max-width:800px;
    margin:0 auto;
}

footer{
    text-align: center;
    color:#265C9F;
}


/* Links */
a{
    color:#ef5839;
    text-decoration:underline;
}

a:hover, a:active{
    color:#d4b44c;
}

.btn{
    font-size:1.125rem; /*18/16=1.125em*/
    padding: 0.5em 1.1em;
    border-radius: 4.6px;
    font-weight: 500;
    /* margin-right: 0.5em; */
    margin-bottom: 1em;
    display:block;
    text-decoration: none;
    text-align: center;

}

btn:active, btn:hover{
    background-color: #f3e885;
    color:#2b283a;


}
.primary-btn{
    background-color:#265C9F;
    color: whitesmoke;
}
.secondary-btn{
    background-color:#f0e0ff;
    color:#265C9F;
}
.normal-btn{
    background-color: whitesmoke;
    color:#265C9F;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #fff;
    text-decoration: none;
    font-size:1.125rem;
    padding: 0.9rem 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li:not(:last-child) {
    border-bottom: 1px dotted #a190b6;
}


/*---MEDIA QUERIES------*/

@media (min-width: 480px) {
    .section-two-image-container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .feature-image {
        width: 48.8%;     
    }
}
@media (max-width: 767px) {
    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }  

    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }  
}

@media(min-width:768px){
    header,footer,section{
        padding: 2.5em 0;
    }
    header , nav ul{
        display:flex;

    }
    nav li{
        margin-right: 1.25rem;
    }
    header {
        align-items: center;
        justify-content: space-between;
    }
    .btn{
        display:inline-block;
        margin-right: 0.5 em;
    }
    h1{
        font-size:2.25rem;
    }
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.125rem;
    }

    nav{
        display:flex
    }
}