body{
    font-size: 16px;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin:0;
}


/* typography */
h1{
    font-size: 36px;
    color:whitesmoke;
    

}

h1,h3{
    margin:0;
}

h3{
    font-size: 20px;
    color:#d0aaff;
    
}

h2{
    margin-top:0;
}


/* Layout */

header, section, footer{
    padding: 40px 0;
}

header,.section-two{
    background-color:#265C9F;
    
}



.section-two{
    
    color: whitesmoke;
}

.main-image{
    width:100%;
}

.feature-image{
    width: 300px;
    border-radius: 4.6px;
}

.section-two-image-container{
    display:flex;
    justify-content: space-between;
}
.container{
    width:620px;
    margin:0 auto;
}

footer{
    text-align: center;
    color:#265C9F;
}


/* Links */
a{
    color:#ef5839;
    text-decoration:underline;
}

a:hover, a:active{
    color:#d4b44c;
}

.primary-btn,
.secondary-btn,
.normal-btn{
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    display:inline-block;
    text-decoration: none;

}

.primary-btn:active, .primary-btn:hover,
.secondary-btn:active,.normal-btn:active,
.secondary-btn:hover,.normal-btn:hover{
    background-color: #f3e885;
    color:#2b283a;


}
.primary-btn{
    background-color:#265C9F;
    color: whitesmoke;
}
.secondary-btn{
    background-color:#f0e0ff;
    color:#265C9F;
}
.normal-btn{
    background-color: whitesmoke;
    color:#265C9F;
}


