html {
    height: 100vh;
    font-family: Baloo;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    color: white;}

body {
    padding: 10px;
    background-image: linear-gradient(#5DA4D9, #FFF);
}

#emojicontainer {
    margin: 40px;
    text-align: center;
}

#emojicontainer span {
    margin: 10px;
    font-size: 60px;
}

input{
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    border-radius: 6px;
    background: white;
    text-align: center;
}
button {
    font-family: Baloo;
    letter-spacing: px;
    background: darkcyan;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 0 auto;
}
#push-btn,#unshift-btn {
    background-color: #80D87F;}